<script type='text/javascript' src='/node_modules/angular/angular.min.js' ></script>
<script type='text/javascript' src='/node_modules/jquery/dist/jquery.js' ></script>

<script type='text/javascript' src='/node_modules/bootstrap/dist/js/bootstrap.min.js' ></script>
<link rel="stylesheet" type='text/css' href='/node_modules/bootstrap/dist/css/bootstrap.min.css' />

<link rel='stylesheet' type='text/css' href='/node_modules/sweetalert/dist/sweetalert.css' />
<script type='text/javascript' src='/node_modules/sweetalert/dist/sweetalert.min.js' ></script>

<link rel="stylesheet" type='text/css' href='scripts/style.css' />
<script type='text/javascript' src='scripts/controller_stan.js' ></script>

<!--<a href="/?1">Home</a>-->
<!--<a href="/about">About</a>-->
<!--<a href="#">links</a>-->
