

<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <% include header.ejs %>
</head>
<body class="body" >

<div id="form_active" class="well well-lg">
    <h1 style="color: rgb(76, 175, 80); "><%= title %></h1>
    <a href="<%= link %>">Welcome to <%= title %></a>

    <div class="modal-body">
        <div class="container-fluid bd-example-row">
            <div class="row">
                <div class="col-sm-12">
                    <!--Level 1: .col-sm-9-->
                    <div class="row">
                        <div id="panel">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="inputname">ชื่อ-นามสกุล</label>
                                    <input type="text" class="form-control form-control-success" id="inputname"
                                           placeholder="ตัวอย่าง: ศรราม ยามเย็น" size="18" maxlength="20">
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <label for="inputphone">เบอร์โทรศัพท์</label>
                                    <input type="tel" class="form-control" id="inputphone" placeholder="ตัวอย่าง: 0821233214" size="15" maxlength="10">
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="univer">ระดับการศึกษา:</label>
                                        <select id="univer" class="form-control">
                                            <option value="1">ปริญญาตรี</option>
                                            <option value="2">ปริญญาโท</option>
                                            <option value="3">ปริญญาเอก</option>
                                        </select>
                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;
                                <label class="form-check-inline">
                                    <input class="form-check-input" name="sex_add" type="radio" name="inlineRadioOptions" id="inputoption1"
                                           value=1>
                                    เพศชาย &nbsp;&nbsp;&nbsp;
                                </label>
                                <label class="form-check-inline">
                                    <input class="form-check-input" name="sex_add" type="radio" name="inlineRadioOptions" id="inputoption2"
                                           value=0>
                                    เพศหญิง &nbsp;&nbsp;&nbsp;
                                </label><br><br>
                                <div class="nav-inline" style="text-align: center;">
                                    <button onclick="cose_add()" type="button" class="btn btn-danger">ยกเลิก</button>
                                    &nbsp;&nbsp;&nbsp;
                                    <button onclick="add_ok()" type="button" class="btn btn-success">บันทึกข้อมูลนี้</button>
                                </div>
                            </form>
                        </div><br>
                        <div align="right" class="col-xs-6 col-sm-6">
                            <button style="background:#FF8300; color: white" id="flip" type="button"
                                    class="btn btn-primary">
                                <span class="glyphicon glyphicon-user"></span>เพิ่มข้อมูลใหม่
                            </button>
                        </div>
                        <div align="right" class="col-xs-6 col-sm-6">
                            <p id="list_pagi"></p>
                            <ul id="back_pagi" class="pagination"></ul>
                            <ul id="pagination" class="pagination"></ul>
                            <ul id="next_pagi" class="pagination"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table style="position: initial; width: 100%;" class="table table-hover">
        <thead>
        <tr>
            <th>ลำดับ</th>
            <th>ชื่อ</th>
            <th>เพศ</th>
            <th>เบอร์โทรศัพท์</th>
            <th>ระดับการศึกษา</th>
            <th colspan="2" width="15%">เลือก</th>
        </tr>
        </thead>
        <tbody id="tbody"></tbody>
        <div class="scrollup" >
            <button id="scroll" type="button" class="btn btn-default btn-lg" >
                <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span><br>Click To Top
            </button>
        </div>
    </table>


</div>

<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridModalLabel">เเก้ไขข้อมูล</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid bd-example-row">
                    <div class="row">
                        <div class="col-sm-9">
                            <!--Level 1: .col-sm-9-->
                            <div class="row">
                                <div align="right" class="col-xs-8 col-sm-6">
                                    <label for="edit-inputname">ชือ-นามสกุล</label>
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <input type="text" class="form-control" id="edit-inputname" maxlength="20">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div align="right" class="col-xs-8 col-sm-6">

                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <label class="form-check-inline">
                                        <input class="form-check-input" name="sex_edit" type="radio"
                                               name="inlineRadioOptions" id="boy" value=1>
                                        เพศชาย&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <label class="form-check-inline">
                                        <input class="form-check-input" name="sex_edit" type="radio"
                                               name="inlineRadioOptions" id="girl" value=0>
                                        เพศหญิง
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div align="right" class="col-xs-8 col-sm-6">
                                    <label for="edit-inputphone">เบอร์โทรศัพท์</label>
                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <input type="tel" class="form-control" id="edit-inputphone" maxlength="10">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div align="right" class="col-xs-8 col-sm-6">
                                    <label for="univer">ระดับการศึกษา:</label>

                                </div>
                                <div class="col-xs-4 col-sm-6">
                                    <select id="edit-inputuniver" class="form-control">
                                        <option value="1">ปริญญาตรี</option>
                                        <option value="2">ปริญญาโท</option>
                                        <option value="3">ปริญญาเอก</option>
                                    </select>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="password" id="edit-inputid" style="display: none">
                <button type="button" class="btn btn-danger" data-dismiss="modal">ยกลิก</button>
                <button id="edit_ok" type="button" class="btn btn-success">บันทึกการแก้ไข</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>


