<!DOCTYPE html>
<html ng-app="MyApp" >
<head lang="en">
    <meta charset="UTF-8">

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular-sanitize.js"></script>
    <script src="./node_modules/angular/angular-route.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/sweetalert/dist/sweetalert.min.js"></script>


    <script src="./App.js"></script>
    <script src="./scripts/homePage/pageUserController.js"></script>
    <script src="./scripts/homePage/pageUserService.js"></script>
    <script src="./scripts/homePage/pageUserDirective.js"></script>
    <script src="./scripts/homePage/autocomplete.js"></script>

    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/node_modules/sweetalert/dist/sweetalert.css"/>
    <link rel="stylesheet" href="./scripts/loader.css" />
    <link rel="stylesheet" href="./scripts/style.css" />
    <link rel="stylesheet" href="./scripts/autocomplete.css" />
    <link rel="icon" href="demo_icon.gif" type="image/gif" sizes="16x16">

</head>
<title>บันทึกข้อมูลส่วนบุคคล</title>
<body>

<div ng-view></div>
</body>
</html>

<!--<style>-->
<!--body {-->
<!--font-family: Tahoma;-->
<!--}-->
<!--</style>-->