
<form novalidate class="form-inline css-form " name="formAdd" ng-submit="addSubmit(dataFormAdd)">
    <div class="text-center">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 blockFormAdd ">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-2 text-right">
                        ชื่อ:
                        <input type="text" class="form-control" placeholder="ตัวอย่าง: ศรราม" size="13" maxlength="13"
                               ng-model="dataFormAdd.fname" name="fname" required
                               pattern='^([a-zA-Zก-ฮะ-ูเ-ไ็-์]+)$'
                        ><br>
                        <div ng-show="formAdd.$submitted || formAdd.fname.$touched">
                            <div ng-show="formAdd.fname.$error.required"><br>
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรุณากรอก ชื่อ
                                </strong>
                            </div>
                            <div ng-show="formAdd.fname.$error.pattern"><br>
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรอกเฉพาะตัวอักษร ไม่กรอกตัวเลขเเละอักขระพิเศษ
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-left">
                        นามสกุล:
                        <input type="text" class="form-control" placeholder="ตัวอย่าง: ยามเย็น" size="13" maxlength="13"
                               ng-model="dataFormAdd.lname" name="lname" required
                               pattern='^([a-zA-Zก-ฮะ-ูเ-ไ็-์]+)$'
                        ><br>
                        <div ng-show="formAdd.$submitted || formAdd.lname.$touched">
                            <div ng-show="formAdd.lname.$error.required"><br>
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรุณากรอก นามสกุล
                                </strong>
                            </div>
                            <div ng-show="formAdd.lname.$error.pattern"><br>
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรอกเฉพาะตัวอักษร <br>ห้ามกรอกตัวเลขเเละอักขระพิเศษ
                                </strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-left ">
                        <label class="form-check-inline">
                            <input class="radio" ng-model="dataFormAdd.sex" type="radio" value=1 name="sex" required>
                            เพศชาย
                        </label><br>
                        <label class="form-check-inline">
                            <input class="radio" ng-model="dataFormAdd.sex" type="radio" value=0 name="sex" >
                            เพศหญิง
                        </label>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-sm-6 text-right">
                        เบอร์โทรศัพท์:
                        <input type="tel" class="form-control" placeholder="ตัวอย่าง: 0821233214" size="17" pattern="[0]{1}[1-9]{9}"
                               ng-model="dataFormAdd.phone" name="phone" maxlength="10" required>
                        <div ng-show="formAdd.$submitted || formAdd.phone.$touched"><br>
                            <div ng-show="formAdd.phone.$error.required" >
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรุณากรอกเบอร์โทรศัพท์</strong>
                            </div>
                            <div ng-show="formAdd.phone.$error.pattern" >
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรอกเฉพาะตัวเลข 0-9 จำนวน 10 หลัก</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-left">
                        ระดับการศึกษา:
                        <select name="class" ng-model="dataFormAdd.univer" class="form-control" required>
                            <option value="">เลือกระดับการศึกษา</option> <!-- not selected / blank option -->
                            <option value="1">ปริญญาตรี</option> <!-- interpolation -->
                            <option value="2">ปริญญาโท</option>
                            <option value="3">ปริญญาเอก</option>
                        </select>
                        <div ng-show="formAdd.$submitted || formAdd.class.$touched"><br>
                            <div ng-show="formAdd.class.$error.required">
                                <strong style="color: red;"><span class="glyphicon glyphicon-exclamation-sign"></span>
                                    กรุณาเลือกระดับการศึกษา
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><br>
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success" ng-disabled="formAdd.$invalid" >
                            <span class="glyphicon glyphicon-floppy-disk"></span>
                            บันทึกข้อมูลนี้</button>
                        <button type="button" class="btn btn-del" ng-click="clearFromAdd(); " >
                            <span class="glyphicon glyphicon-floppy-remove"></span>
                            ยกเลิก</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
