<table class="table table-hover">
    <thead>
    <tr style="height: 50px">
        <th ng-click="orderByMe('id')"><span class="orderByMe">ลำดับ</span>
            <span ng-class="myClassSelect" ng-show="propertyName === 'id'" ></span>
        </th>
        <th ng-click="orderByMe('name')"><span class="orderByMe">ชื่อ-นามสกุล</span>
            <span ng-class="myClassSelect" ng-show="propertyName === 'name'" ></span>
        </th>
        <th ng-click="orderByMe('sex')"><span class="orderByMe">เพศ</span>
            <span ng-class="myClassSelect" ng-show="propertyName === 'sex'" ></span>
        </th>
        <th ng-click="orderByMe('phone')"><span class="orderByMe">เบอร์โทรศัพท</span>
            <span ng-class="myClassSelect" ng-show="propertyName === 'phone'" ></span>
        </th>
        <th ng-click="orderByMe('univer')" ><span class="orderByMe">ระดับการศึกษา</span>
            <span ng-class="myClassSelect" ng-show="propertyName === 'univer'" ></span>
        </th>
        <th colspan="2" class="myHideprint">เลือก</th>
    </tr>
    </thead>
    <tbody id="tbody">
    <tr ng-repeat="x in showdata | orderBy:propertyName:reverse">
        <td>{{PageStart+$index+1}}</td>
        <td>{{x.beforname}}&nbsp;&nbsp;&nbsp;{{x.name}}</td>
        <td>{{sex[x.sex]}}&nbsp;&nbsp;&nbsp;<img ng-src="{{sexImg[x.sex]}}"></td>
        <td>{{x.phone}}</td>
        <td>{{class[x.univer]}}</td>
        <td class="myHideprint">
            <button ng-click="showFromEdit(x)" type="button" name="menu1" class="btn btn-success btn-sm"
                    data-toggle="modal" data-target="#fromEditModal">
                <span class="glyphicon glyphicon-edit"></span> แก้ไข
            </button>
        </td>
        <td class="myHideprint" >
            <button ng-click="showFromDel(x.id)" type="button" name="menu1" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-trash"></span>   ลบ
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center" ng-show="alretNoData">
    <h1 style="color: #ff8300;"><span class="glyphicon glyphicon-alert"></span>
        ไม่พบข้อมูล <br><small class="cursor" ng-click="backSearch()">คลิกเพื่อกลับไปยังหน้าเเรก</small></h1>

</div>
<div ng-include="'view/loader.html'" ng-show="showloader"></div>
