
body {
    background-color: #428bca;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


button.btn-del,.btn-del:focus{
    background-color: #fa7a7a;
    color: white;
}
button.btn-del:hover{
    background-color: #f72222;
    color: white;
}

form#idFromAdd{
    background-color: #DFE2EE;
}

div.well{
    background-image: none;
    background-color: #fff;
}

button#idBtnAdd{
    background-color: #FF8300;
    color: white;

    /*background-color: #F9E77F;*/
    /*color: black;*/

}
button#idBtnAdd:hover,button#idBtnAdd:visited{
    background-color: #df8320;
    /*background-color: #F9E77F;*/
}

a {
    color: #00B7FF;
}

/*div.alert {*/
    /*display: none;*/
/*}*/
div.alert:focus{
    background: red;
}


div#wall_show{
    background-color: #e6fff9;
    border: 2px solid black;
}

div#thead {
    border-bottom: 2px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}

div#fromEditModal div.modal-body {
    background-color: white;

}
div#fromEditModal div.modal-header, div.modal-footer{
    /*background-color: #00A17B;*/
    background-color: #428bca;
    color: white;
}
/*ul.pagination{*/
    /*visibility: hidden;*/
/*}*/

ul#pagination li a.patgi {
    color: white;
    background-color:#FF8300!important;
}

#alertTextEdit{
    text-align: center;
}

p#list_pagi{
    color:#333;
}

div#panel {
    color:#333;
}

thead tr th, tbody tr {
    text-align: center;

}


tbody#tbody tr:hover {
    color: white;
    background-color: #FF8300;
}

tbody#tbody tr td img {
    width: 10%;
}

span.glyphicon , span.orderByMe ,small.cursor {
    cursor: pointer;
}

div.scrollup {
    top: 85%;
    right: 7%;
    position: fixed;
    z-index: +1;
    display: none;
}

.blockFormAdd {
    background: whitesmoke;
    padding: 10px;
    border: 1px solid #DDDDDD;
}
textarea:required:focus,
input[type="text"]:required:focus,
input[type="password"]:required:focus,

div.btn-group .btn-default:active, .btn-default.active{

}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 1s;
}

.css-form input.ng-invalid.ng-touched:not([type='radio']) ,select.ng-invalid.ng-touched {
    border-color: rgb(250, 120, 126);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(247, 34, 44);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(247, 34, 44);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(247, 34, 44);
}

.css-form input.ng-valid.ng-touched:not([type='radio']){
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
}

@media print {

    body{
        padding: 0px;
    }
    h1{
        font-size:18px;
    }
    th,tr,td{
        font-size:12px;
    }
    .myHideprint {
        display: none;
        width: 210mm;
        height: 297mm;
    }

}

autocomplete ul{
    padding-left: 0px;
}
